@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*Global Styling */
*{
    box-sizing: border-box;
}

a{
text-decoration: none;
color: white;
}
a:hover{
    cursor: pointer;
}
body {
  background-size: cover;
  background-image: url('/images/bg-wave.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  font-family: 'Lato', sans-serif;
  margin: 0; 
}
#logo{
    font-family: 'Pacifico', cursive;
    color:#8394AA;
    padding-left:90px;
    font-size: 25px;
}




/*right side*/
#nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width:100%;
    height: 90px;
    border-bottom: 2px solid black;
    left: 0px;
    top: 0px;
    background:#C4C4C4;
}
#nav-options{
    padding-right: 80px;
    text-align: center;
}
#nav-options li{
    display:inline;
    margin-right: 10px;
    font-size: 20px;
}
#nav-options li a{
    color: blanchedalmond;
    font-weight: 400;
    font-style: oblique;
}
#nav-options li a:hover{
    color: hsl(200, 3%, 19%);
    transition: 0.4s;
    font: weight 500;
}
#nav-options .current a{
    color: #3498db;
    font-weight:700;   
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6em;
  }
  
  .d-img img {
    filter: brightness(50%);
    
  }
  .d-img {
    display: flex;
    max-width: 100%;
  }
  
  .d-contact a {
    color: white;
  }
  
  .d-contact a:hover {
    color: gray;
  }
  
  .d-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color:rgba(48, 70, 89, 0.45);
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 50vh;
  
  }


  .h-bar {
    width: 25%;
    margin-bottom: 1em;
  }

  .d-social {
    /* display: flex;
    justify-content: space-around;
    width: 10%; */
  }

  .d-social i {
    font-size: 2em;
  }

  .social-icon {
    margin-right: 1em;
  }

  .icon {
    margin-right: 5px;
  }

  .d-header {
    height: 50vh;
  }

  .h-contact {
    font-size: calc(32px + 1.70vw);
    margin-bottom: 0;
    color: white;
    
  }

  .h-sub {
    font-size: calc(18.72px + 0.20vw);
    text-align: center;
    color: white;
  }
